<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Skynote</title>
</head>
<body>
	<div class="game-holder" id="gameHolder">
		<div class="header">
			<h1>SkyNote</h1>
			<h2>Beedo Team</h2>
			<div class="score" id="score">
				<div class="score__content" id="dist">
					<div class="score__label">distance</div>
					<div class="score__value score__value--dist" id="distValue">000</div>
				</div>
			</div>

		</div>
	</div>
	<div class="world"></div>
	<div class="gamestart btn">开始游戏</div>
	<div class="gameover">
		游戏结束
	</div>
	<div class="overBtn btn">重新开始</div>
</body>
</html>